In [7]:
import pandas as pd

ruta = "C:/Users/hherre13/OneDrive - JNJ/Documents/Hector/Python Total para data science/Día 7/Cuadernos para Prácticas/dataset_flujo_vehicular.csv"

df = pd.read_csv(ruta)
df.head()

  CODIGO_LOCACION                HORA  CANTIDAD  SENTIDO    LATITUD   LONGITUD
0       48Q3CJ00+  31MAR2020:15:00:00       729  Interna -34.588796 -58.381520
1       48Q3CJ00+  31MAR2020:15:00:00       447   Egreso -34.588796 -58.381520
2       48Q39G00+  31MAR2020:15:00:00       175  Interna -34.633299 -58.468594
3       48Q39G00+  31MAR2020:15:00:00      1186   Egreso -34.633299 -58.468594
4       48Q3CH00+  31MAR2020:15:00:00        35   Egreso -34.579632 -58.427733

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 189814 entries, 0 to 189813
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   CODIGO_LOCACION  189814 non-null  object
 1   HORA             189814 non-null  object
 2   CANTIDAD         189814 non-null  int64
 3   SENTIDO          189814 non-null  object
 4   LATITUD          186412 non-null  float64
 5   LONGITUD         186412 non-null  float64
dtypes: float64(2), int64(1), object(3)
memory usage: 8.7+ MB