# Proyecto del Día 8 - Análisis de Datos Meteorológicos

Este proyecto consiste en analizar un conjunto de datos meteorológicos utilizando Python y NumPy. 
El objetivo es aplicar las técnicas de manipulación de arrays, tratamiento de datos faltantes, 
y análisis estadístico básico en un conjunto de datos del mundo real.

## Tareas a Realizar:
1. Crear un DataFrame a partir de los datos del archivo **datos_meteorologicos.csv** provisto en esta lección.
2. Realizar observaciones iniciales de los datos con Pandas.
3. Convertir las columnas del DataFrame en arrays de NumPy.
4. Identificar los datos faltantes en los arrays, y reemplazarlos por el promedio de los valores del respectivo array.
5. Realizar análisis estadísticos básicos. Mínimamente se espera que puedas extraer la siguiente información de tus arrays:
    * La temperatura promedio
    * El total de precipitaciones
    * La máxima humedad registrada
    * La fecha más calurosa
    * La fehca más fría
6. Exportar los resultados a un nuevo archivo CSV.

¡Mucha suerte con tu proyecto!

In [1]:
import pandas as pd
import numpy as np

### 1. Crear un DataFrame a partir de los datos del archivo datos_meteorologicos.csv provisto en esta lección.

In [2]:
ruta = "C:\\Users\\hherre13\\OneDrive - JNJ\\Documents\\Hector\\Python Total para data science\\Día 8\\Cuadernos para Prácticas\\Resultados análisis meteorológico.csv"

df = pd.read_csv(ruta)
df

                Metrica               Valor
0  Temperatura Promedio  14.889295723531713
1   Precipitación Total   50597.19438939993
2        Humedad Máxima   99.99658156071747
3      Día Más Caluroso          12/07/2017
4          Día Más Frío          23/07/2020

### 2. Realizar observaciones iniciales de los datos con Pandas.

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Metrica  5 non-null      object
 1   Valor    5 non-null      object
dtypes: object(2)
memory usage: 212.0+ bytes

In [4]:
df.describe()

                     Metrica               Valor
count                      5                   5
unique                     5                   5
top     Temperatura Promedio  14.889295723531713
freq                       1                   1

In [ ]:
df.isnull().

### 3. Convertir las columnas del DataFrame en arrays de NumPy.

### 4. Identificar los datos faltantes en los arrays, y reemplazarlos por el promedio de los valores del respectivo array.

### 5. Realizar análisis estadísticos básicos.

##### Temperatura promedio

##### Total de precipitaciones

##### Máxima humedad registrada

##### Fecha más calurosa

##### Fehca más fría

### 6. Exportar los resultados a un nuevo archivo CSV.